{% extends 'base.html' %}

{% block body %}
{% if messages %}
<div class="container mx-auto w-m">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}

<div class="container mx-auto" style="max-width: 50%;">
   <h1 class="text-center">Login</h1>
    <form method="POST" action="/login">
        {% csrf_token %}
        <div class="form-group my-2">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
        </div>
        <div class="form-group my02">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
        </div>
        <div class="d-grid gap-2 my-2">
            
            <button class="btn btn-primary" type="submit">Button</button>
          </div>
    </form>

    <a href="/register" class="">Register if you don't have account ?</a>
</div>
{% endblock body %}